#!/usr/bin/env bash

{{ ansible_managed | comment }}

set -e
set -x

TMP_DIR=$(mktemp -d)

trap "{ rm -r ${TMP_DIR}; }" EXIT SIGTERM SIGINT ERR

MIRROR="https://ftp-stud.hs-esslingen.de/pub/Mirrors/gentoo/releases/amd64/autobuilds/"
ROOTFS="${TMP_DIR}/rootfs"
OUTPUT_DIR="${TMP_DIR}"
DATE="$(date +%Y%m%d)"
ROOTIMAGE="${OUTPUT_DIR}/gentoo-amd64-default-${DATE}-root.tar.gz"
METADATA="${OUTPUT_DIR}/gentoo-amd64-default-${DATE}-metadata.tar.gz"

function print_help() {
  echo "-o output dir"
  echo "-h print help"
}

while getopts ":ho:" opt; do
  case $opt in
    h)
      print_help
      exit 1
      ;;
    o)
      OUTPUT_DIR="${OPTARG}"
      ;;
    \?)
      if [ "${OPTARG}z" != "z" ]; then
        echo "Invalid option: -$OPTARG" >&2
      fi
      exit 1
      ;;
    :)
      echo "Option -${OPTARG} requires an argument." >&2
      exit 1
      ;;
    ?)
      echo "Invalid option -${OPTARG}." >&2
      exit 1
      ;;
    *)
      exit 2
      ;;
  esac
done

shift $((OPTIND -1))

if [ "${@}" ]; then
  echo "Invalid parameter ${@}." >&2
  exit 1
fi

pushd "${TMP_DIR}"

LATEST_FILE="latest-stage3-amd64-openrc.txt"
wget "${MIRROR}/${LATEST_FILE}" -O "${LATEST_FILE}"
LATEST_PATH=$( tail -n 1 "${LATEST_FILE}" | cut -f 1 -d " ")
LATEST=$(basename "${LATEST_PATH}")
cat "${LATEST_FILE}"
rm "${LATEST_FILE}"
unset LATEST_FILE

wget "${MIRROR}/${LATEST_PATH}" -O "${LATEST}"
unset LATEST_PATH

mkdir "${ROOTFS}"
pushd "${ROOTFS}"

tar -xpf "${TMP_DIR}/${LATEST}" --xattrs-include='*.*' --numeric-owner

rm "${TMP_DIR}/${LATEST}"

cat > etc/resolv.conf << EOL
nameserver 2a0e:b500::1
nameserver 2a0e:b500::2
domain rz-42.de
search rz-42.de
EOL

echo "Europe/Berlin" > etc/timezone

cat > etc/conf.d/net << EOL
dns_domain_lo="as208974.net"
config_eth0="null"
EOL

pushd etc/init.d
ln -s net.lo net.eth0
popd

ln -s /etc/init.d/net.eth0 etc/runlevels/default/net.eth0

{% if lxd_ssh is defined and lxd_ssh %}
mkdir root/.ssh
cat > root/.ssh/authorized_keys << EOL
{% for key in lxd_ssh %}
{{ key }}
{% endfor %}
EOL
chmod -Rc go-rwx root/.ssh
{% endif %}

ln -s /etc/init.d/sshd etc/runlevels/default/sshd

{% for passwd in lxd_chpasswd %}
echo 'root:$6$zn.Y6J0s$U0C/wqFMgyGMiPhPU0BmvzbxjIYuRVBHj0bZLBey4PSCD3Vtvi1AUSCspiRXUvpjjpdhBgv5fRKgaHWKwkJxK0' | chpasswd -R "${ROOTFS}" -e
{% endfor %}

sed -i 's/^c[0-9]:/#\0/' etc/inittab
sed -i 's/^#\(x1:.*\)/\1/' etc/inittab
echo pf:12345:powerwait:/sbin/halt >> etc/inittab

pushd var/db/repos
{% for repo in lxd_clone_repo %}
pushd /var/db/repos/{{ repo }}
repo_remote=$(git remote get-url origin)
popd
git clone --depth 1 -- $repo_remote {{ repo }}
{% endfor %}
popd

#leaving ROOTFS
popd

cat > metadata.yaml << EOL
architecture: amd64
creation_date: $(date +%s)
expiry_date: $(date +%s -d "+30days")
properties:
  architecture: amd64
  description: Gentoo  amd64 ($(date +%Y%m%d))
  name: gentoo-amd64-default-$(date +%Y%m%d)
  os: gentoo
  release: ""
  serial: "$(date +%Y%m%d)"
  variant: default
templates:
  /etc/conf.d/hostname:
    when:
    - create
    - copy
    create_only: false
    template: hostname.tpl
    properties: {}
EOL

{% raw %}
mkdir templates
cat > templates/hostname.tpl << EOL
hostname="{{ container.name }}"
EOL
{% endraw %}

#leaving TMP_DIR
popd

tar --xattrs-include='*.*' -czf "${ROOTIMAGE}" -C "${ROOTFS}" .
tar --xattrs-include='*.*' -czf "${METADATA}" -C "${TMP_DIR}" metadata.yaml templates

incus image delete gentoo
incus image import "${METADATA}" "${ROOTIMAGE}" --alias gentoo
