{{ ansible_managed | comment }}
# Group which owns the shared socket
INCUS_OPTIONS+=" --group incus-admin"

# Enable cpu profiling into the specified file
#INCUS_OPTIONS+=" --cpuprofile /tmp/lxc_cpu_profile"

# Enable memory profiling into the specified file
#INCUS_OPTIONS+=" --memprofile /tmp/lxc_mem_profile"

# Enable debug mode
#INCUS_OPTIONS+=" --debug"

# For debugging, print a complete stack trace every n seconds
#INCUS_OPTIONS+=" --print-goroutines-every 5"

# Enable verbose mode
#INCUS_OPTIONS+=" -v"

# Logfile to log to
#INCUS_OPTIONS+=" --logfile /var/log/incus/incus.log"

# Enable syslog logging
INCUS_OPTIONS+=" --syslog"

# Increase ulimits to allow more open files on OpenRC.
rc_ulimit="-n 1048576 -l unlimited"
