#!/usr/bin/env bash

{{ ansible_managed | comment }}

set -e
set -x

TMP_DIR=$(mktemp -d)

trap "{ rm -r ${TMP_DIR}; }" EXIT SIGTERM SIGINT ERR

function print_help() {
  echo "-o output dir"
  echo "-h print help"
}

while getopts ":ho:" opt; do
  case $opt in
    h)
      print_help
      exit 1
      ;;
    o)
      OUTPUT_DIR="${OPTARG}"
      ;;
    \?)
      if [ "${OPTARG}z" != "z" ]; then
        echo "Invalid option: -$OPTARG" >&2
      fi
      exit 1
      ;;
    :)
      echo "Option -${OPTARG} requires an argument." >&2
      exit 1
      ;;
    ?)
      echo "Invalid option -${OPTARG}." >&2
      exit 1
      ;;
    *)
      exit 2
      ;;
  esac
done

shift $((OPTIND -1))

if [ "${@}" ]; then
  echo "Invalid parameter ${@}." >&2
  exit 1
fi

pushd "${TMP_DIR}"
# We are now in the TMP directory and can do stuff
incus delete rz42-template --force
# Create new rz42-template instance
incus init images:alpine/3.19 rz42-template --target alpha
# Add default ipv6 address which is to be kept empty
incus config device add rz42-template eth0 nic nictype=routed ipv6.address=2a0e:b500:100:10::1 name=eth0
incus start rz42-template

incus exec rz42-template -- sh -c "cat > /etc/resolv.conf << EOL
nameserver 2a0e:b500::1
nameserver 2a0e:b500::2
domain rz-42.de
search rz-42.de
EOL
"

incus exec rz42-template -- sh -c "echo Europe/Berlin > /etc/timezone"

incus exec rz42-template -- setup-apkrepos http://mirror1.hs-esslingen.de/pub/Mirrors/alpine/v3.19/main/

{% if lxd_ssh is defined and lxd_ssh %}
incus exec rz42-template -- mkdir /root/.ssh
incus exec rz42-template -- sh -c "cat > /root/.ssh/authorized_keys << EOL
{% for key in lxd_ssh %}
{{ key }}
{% endfor %}
EOL
"
incus exec rz42-template -- chmod -R go-rwx /root/.ssh
{% endif %}

{% for passwd in lxd_chpasswd %}
incus exec rz42-template -- sh -c "echo 'root:$6$zn.Y6J0s$U0C/wqFMgyGMiPhPU0BmvzbxjIYuRVBHj0bZLBey4PSCD3Vtvi1AUSCspiRXUvpjjpdhBgv5fRKgaHWKwkJxK0' | chpasswd -e"
{% endfor %}

incus exec rz42-template -- apk add openssh python3
incus exec rz42-template -- rc-update add sshd default
incus stop rz42-template
incus publish --reuse --alias alpine/3.19:rz42 rz42-template
#leaving TMP_DIR
popd
